<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
</head>
<body>
<footer class="footer mt-auto py-3" th:fragment="footer">
    <div class="container">
        <span class="text-muted"> <div class="fut1">
        <h3>О нас</h3>
        <p>
          Сайт, на котором представлены <br>
          курсы по различным иностранным языкм
        </p>
          <p>Терентьев Максим Эдуардович ИКБО-01-21</p>
    </div></span>
    </div>
</footer>
</body>
</html>