<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link th:href="@{styles/main.css}" rel="stylesheet"/>
  <link rel="shortcut icon" th:href="@{/fav.ico}">

</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div class = "person">
  <div class = "courseDiv">
    <p>Имя пользователя: </p><p th:text ="${#authentication.getName()}"></p>
  </div>
  <p>Ваши курсы</p>
</div>
<div class = "search">
  <form action="" th:action = "@{/personalArea/delCourse}" method = "post">
    <input name = "name" type = "text" th:keytype="String" th:value="${String}"  placeholder="Название курса">
    <input type = "submit" value = "Удалить">
  </form>
</div>
<div class = "courseBlock">
  <th:block th:each="course: ${courses}">
    <div class = "courseStyle">
      <div class = "courseDiv">
        <p>Номер курса: <p th:text="${course.id}"></p>
      </div>
      <div class = "courseDiv">
        <p>Цена: <p th:text="${course.cost}"></p>
      </div>
      <div class = "courseDiv">
        <p>Название: <p th:text="${course.name}"></p>
      </div>
      <div class = "courseDiv">
        <p>Имя преподавателя: <p th:text="${course.teacher_name}"></p>
      </div>
    </div>
  </th:block>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>