<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet" />
    <link rel="shortcut icon" th:href="@{/fav.ico}">
</head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/header :: header}"> </div>
<p th:text="${passwordError}"></p>
<p th:text="${usernameError}"></p>
<form  th:action="@{/registration}" method="post" class = "form_reg">
    <h2>Регистрация</h2>
    <div>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <input type="password" name="passwordConfirm" placeholder="Confirm your password">
    </div>
    <p>Кто вы?</p>
    <div>
        <input type="radio" id="USER"
               name="role" value="USER">
        <label for="USER">Ученик</label>
        <input type="radio" id="TEACHER"
               name="role" value="TEACHER">
        <label for="TEACHER">Учитель</label>
    </div>
    <input type="submit" value="Зарегестрироваться">
</form>
<div  th:replace="~{fragments/footer :: footer}"> </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>